__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

.env
.venv/
venv/

artifacts/
*.db

.pytest_cache/
.ruff_cache/
.mypy_cache/

*.png
*.mp4
*.jpg
*.jpeg
!streamlit_app/static/**

.DS_Store
